.randomCanvas{
	cursor: pointer;
	padding: 8px 16px;
	margin:20px;
}

canvas {
	border: 1px solid black;
}
.btnContainer{
	clear:both;
	vertical-align: middle;
}

.canvasSelect{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	background: #DDD;

}
.canvasWrapper{
	margin:20px;
	width: 50%;
	display: none;
}
.canvasGeneraterContainer{
	text-align: center;
	
}
.canvas-node1{
	display: none;
}
.canvas-node2{
	display: none;
}
.canvas-node3{
	display: none;
}
.canvas-node4{
	display: none;
}
.canvas-container{
	display: inline-block;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}